<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post">
      <label  for="title">Search Pokemon</label>
      <div class="box">
      <input
        style="width: 200px; height: 40px"
        name="title"
        id="title"
        value="{{ request.form['title'] }}"
        required
      />
    </div>
    </form>
  </body>
</html>